<div class="container">
    <h3 mat-dialog-title>Eliminar Persona</h3>

    
 <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm" >
  <div class="form">
    <mat-form-field color="accent">
      <textarea matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.usuId" name="usuId" required ></textarea>
      <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      <mat-hint align="end">{{inputstate.value?.length || 0}}/50</mat-hint>
    </mat-form-field>
  </div>
  <!--Textarea for demo purposes-->
<div class="form">
<mat-form-field color="accent">
  <textarea matInput #input class="form-control" placeholder="Nombre" [(ngModel)]="data.nombre" name="nombre" maxlength="50"  required ></textarea>
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  <mat-hint align="end">{{inputstate.value?.length || 0}}/50</mat-hint>
</mat-form-field>
</div>

<!--Contains mat-hint for characters count and has maxLengt set-->
<div class="form">
<mat-form-field color="accent">
  <input matInput #inputstate class="form-control" placeholder="Apellido" [(ngModel)]="data.apellido" name="apellido" maxlength="50" required >
  <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  <mat-hint align="end">{{inputstate.value?.length || 0}}/50</mat-hint>
</mat-form-field>
</div>

<div mat-dialog-actions>
<button type="submit" (click)="confirmAdd()" mat-dialog-close [disabled]="!formControl.valid" mat-button>Eliminar</button>
<button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
</form>
</div>